.header {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__container {
  position: relative;
  padding-top: 14.8rem;
  padding-bottom: 12.3rem;
}
.hero__text {
  width: 100%;
  max-width: 398px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 45.7rem;
  padding-top: 12rem;
}
.hero__title {
  margin-bottom: 2.9rem;
}
.hero__description {
  margin-bottom: 4rem;
}
.hero__image {
  position: absolute;
  top:-14.6rem;
  right: -48.5rem;
}
.hero__img {
  display: none;
}