$body-ff: "Plus Jakarta Sans", sans-serif;

$button-activ-color: #666CA3;
$text-color: #13183F;
$silver-color: #83869A;
$magenta-color: #F74780;
$pink-color: #FFA7C3;
$white-color: #FFFFFF;
$main-color: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
$button-color: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);